<%- include('partials/header') %>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong><%= message.message %></strong>
            </div>
            <% } %>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% if (images.length > 0) { %>
                <% images.forEach((image) => { %>
                <div class="col">
                    <div class="card">
                        <img src="data:<%= image.mimetype %>; base64, <%= image.data.toString('base64') %>" class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <a href="/files/delete/<%= image.id %>" class="btn btn-danger"><i class="fas fa-trash me-1"></i>Supprimer</a>
                        </div>
                    </div>
                </div>
                <% }) %>
                <% } else { %>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pas d'image trouvés</h5>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
